<nav-bar></nav-bar>
<div class="layout container">
    <div class="row">
        <h2>Cart Details</h2>
        <h4>Your cart Details</h4>

            <button class="btn btn-success pull-right btn-checkout"><i class="fa fa-check check-icon" aria-hidden="true"></i>Checkout</button>

    </div>
    <div class="container">
        cartItems
        <div class="table-layout">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cartItem in cartItemVm.cartItems">
                    <div class="row">
                        <div class="col-sm-3">
                            <td><img ng-src="{{cartItem.productImage}}" class="product-img"></td>
                        </div>
                        <div class="col-sm-9">
                            <td>{{cartItem.productName}}</td>
                            <td>{{cartItem.productType}}</td>
                            <td>{{cartItem.productCondition}}</td>
                            <td>{{cartItem.productPrice | currency}}</td>
                            <td><input type="number" value=1 ng-model="cartItem.productQuantity"></td>
                            <td><a class="btn btn-danger " ng-click="cartItemVm.removeItem(cartItem.productId)"><i class="fa fa-times remove-icon" aria-hidden="true"></i>remove</a>
                                <a class="btn btn-primary" ng-click="cartItemVm.updateItem(cartItem.productId,cartItem)"><i class="fa fa-refresh update-icon" aria-hidden="true"></i>update</a>
                            </td>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <a href="#/products"><button class="btn btn-success">Continue Shopping</button></a>
        </div>

    </div>
</div>