<carousal></carousal>
<nav-bar></nav-bar>
<div class="container image-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail sub-imgs">
                <img src="../../images/instruments.jpg">
                <div class="text-center show-btns">
                    <!--<h3>-->
                        <!--INSTRUMENTS-->
                    <!--</h3>-->
                    <a href="#/products/category/Instrument"><button class="btn btn-default">INSTRUMENTS</button></a>
                    <p>
                        Well crafted Instruments
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail sub-imgs">
                <img src="../../images/recordings.jpg">
                <div class="text-center  show-btns">
                    <!--<h3>-->
                        <!--DISCOGRAPHY-->
                    <!--</h3>-->
                    <a href="#/products/category/Accesory"><button class="btn btn-default">DISCOGRAPHY</button></a>
                    <p>
                       An exceptional collections of music records
                    </p>
                </div>
            </div>
        </div>
        <div class=col-sm-4">
            <div class="thumbnail sub-imgs">
                <img src="../../images/accessories.jpg">
                <div class="text-center show-btns">
                    <!--<h3>-->
                        <!--ACCESSORIES-->
                    <!--</h3>-->
                    <a href="#/products/category/Record"><button class="btn btn-default">ACCESSORIES</button></a>
                    <p>
                        All musical and related geeky gods
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<foot></foot>