<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/admin/home">MusicHouse</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="{{homeVm.navBarHome}}"><a href="#/admin/home">Home</a></li>
                        <li  class="{{productVm.navBarProduct}}"><a href="#/admin/products">Products</a></li>
                        <li class="{{aboutVm.navBarAbout}}"><a href="#/admin/about">About</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" ng-click="navbarAdminVm.dropDownActivate()">Category
                                <span class="caret"></span></a>
                            <div class="dropdown-content" ng-if="navbarAdminVm.dropDownActive">
                                <ul>
                                    <li><a href="#/admin/products/category/Instrument">instruments</a></li>
                                    <li><a href="#/admin/products/category/Accesory">accesories</a></li>
                                    <li><a href="#/admin/products/category/Record">discography</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="{{addVm.navBarAdd}}"><a href="#/admin/add">Add New Product</a></li>
                        <li class=""><a href="#/admin/checkorders">Check orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{cartItemVm.navBarCart}}"><a href="#/cart"><i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>{{navbarAdminVm.cartValue+' '}}Cart</a></li>
                        <li ng-if="navbarAdminVm.isloggedIn"><a>Welcome<span class="glyphicon glyphicon-user user-icon"></span>{{navbarAdminVm.user.userName}}</a></li>
                        <li ng-if="!navbarAdminVm.isloggedIn"><a href="#/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                        <li ng-if="!navbarAdminVm.isloggedIn"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                        <li ng-if="navbarAdminVm.isloggedIn" ><a class="logout-icon" ng-click="navbarAdminVm.userLogOut()"><span class="glyphicon glyphicon-log-out" ></span>Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

