<nav-bar></nav-bar>
<div class = "spinner-box"  ng-if="productCategoryVm.spinner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
<div class="layout container">
    <div class="row">
        <div class="col-sm-6 text-center">
            <h2>CATEGORY PRODUCTS</h2>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="form-group search-bar">
                    <input type="search" class="form-control search-bar-icon" id="search" ng-model="productCategoryVm.searchText.productName"  name = "search" placeholder="Search here.....">
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-if="!productCategoryVm.isProductPresent">
        <div class="no-category-products-box">
            <div class="no-products-type">
               <p><i class="fa fa-exclamation-circle not-found-icon" aria-hidden="true"></i><span >Oops! We could not find the requested page.</span></p>
                <p>The server returned a "404 Not Found".</p>
                <p>Don't panic! Check out some of most popular products...</p>

                    <a href="#/products"><button class="btn btn-success">Continue Shopping</button></a>

            </div>
        </div>
    </div>
    <div class="table-layout" ng-if="productCategoryVm.isProductPresent">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Condition</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in productCategoryVm.products | filter: productCategoryVm.searchText">
                <div class="row">
                    <div class="col-sm-3">
                        <td><img ng-src="{{product.productImage}}" class="product-img"></td>
                    </div>
                    <div class="col-sm-9">
                        <td>{{product.productName}}</td>
                        <td>{{product.productType}}</td>
                        <td>{{product.productCondition}}</td>
                        <td>{{product.productPrice | currency}}</td>
                        <td><a href="#/products/{{product.productId}}"><i class="fa fa-info-circle info-icon" aria-hidden="true"></i></a></td>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<foot></foot>
